pipeline/copy-source-raw.json
{
	"name": "copy-source-raw",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDataset",
						"type": "DatasetReference",
						"parameters": {
							"subject": {
								"value": "@concat(\n    concat(\n        pipeline().parameters.subject, \n        '/'\n    ),\n    utcnow('yyyyMMdd')\n)",
								"type": "Expression"
							},
							"storage_secret": {
								"value": "@pipeline().parameters.storage_secret",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset",
						"type": "DatasetReference",
						"parameters": {
							"subject": "Sales/20230409",
							"storage_secret": {
								"value": "@pipeline().parameters.storage_secret",
								"type": "Expression"
							},
							"file_name": "sales-20230409.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "RawDataset",
						"type": "DatasetReference",
						"parameters": {
							"subject": "Sales/20230408",
							"storage_secret": "raw-storage-secret",
							"file_name": "sales-20230408.csv",
							"container": {
								"value": "@pipeline().parameters.success_container",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookUpAuditTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT schema_str as 'schema' FROM [dbo].[schema_table] WHERE subject = '@{pipeline().parameters.subject}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SchemaDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ParseJson",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookUpAuditTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "existing_schema",
					"value": {
						"value": "@json(activity('LookUpAuditTable').output.firstRow.schema[0])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "schema_encoded",
					"value": {
						"value": "@string(activity('Get Metadata1').output.structure)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subject": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"storage_secret": {
				"type": "string",
				"defaultValue": "source-storage-secret"
			},
			"file_name": {
				"type": "string",
				"defaultValue": "sales-20230409.csv"
			},
			"success_container": {
				"type": "string",
				"defaultValue": "imported"
			},
			"error_container": {
				"type": "string",
				"defaultValue": "error"
			}
		},
		"variables": {
			"existing_schema": {
				"type": "Array"
			},
			"schema_encoded": {
				"type": "String"
			}
		},
		"annotations": []
	}
}