pipeline/sales-source-raw.json
{
	"name": "sales-source-raw",
	"properties": {
		"activities": [
			{
				"name": "checkSourceFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CatalogDataset",
						"type": "DatasetReference",
						"parameters": {
							"subject": {
								"value": "@pipeline().parameters.subject",
								"type": "Expression"
							},
							"storage_secret": {
								"value": "@pipeline().parameters.storage_secret",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetRootMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CatalogDataset",
						"type": "DatasetReference",
						"parameters": {
							"subject": {
								"value": "@concat(\n    concat(\n        pipeline().parameters.subject, \n        '/'\n    ),\n    utcnow('yyyyMMdd')\n)",
								"type": "Expression"
							},
							"storage_secret": {
								"value": "@pipeline().parameters.storage_secret",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "checkSourceFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "list_of_files",
					"value": {
						"value": "@activity('checkSourceFile').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IterateRootFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetRootMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetRootMetadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Filter1",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "SetCurrentFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@variables('list_of_files')",
									"type": "Expression"
								},
								"condition": {
									"value": "@equals(item()['file_name'], variables('current_file_name'))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetCurrentFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_file_name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Filter1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(\n    empty(activity('Filter1').output.value)\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "GetChildMetadats",
										"type": "GetMetadata",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "SourceDataset",
												"type": "DatasetReference",
												"parameters": {
													"subject": {
														"value": "@concat(\n    concat(\n        pipeline().parameters.subject, \n        '/'\n    ),\n    utcnow('yyyyMMdd')\n)",
														"type": "Expression"
													},
													"storage_secret": {
														"value": "@pipeline().parameters.storage_secret",
														"type": "Expression"
													},
													"file_name": {
														"value": "@activity('Filter1').output.value[0].file_name",
														"type": "Expression"
													}
												}
											},
											"fieldList": [
												"structure",
												"exists",
												"size",
												"columnCount"
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"subject": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"storage_secret": {
				"type": "string",
				"defaultValue": "source-storage-secret"
			}
		},
		"variables": {
			"list_of_files": {
				"type": "Array"
			},
			"current_file_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}